.main-page {
    animation: fadeIn 1s forwards;
}

.thelogo {
    width: 40px;
    height: 40px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.moon-icon {
    transition: all 0.5s;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.moon-icon.clickd {
    left: 50%;
    transform: translate(-50%, -50%);
}

.sun-icon {
    transition: all 0.5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sun-icon.clickd {
    left: -25px;
}

.sreach-input {
    transition: 0.3s;
}

@media (max-width: 768px) {
    .title {
        display: block;
    }
    .title.clicked {
        display: none;
    }

    .sreach-input {
        padding: 3px !important;
        width: 32px !important;
    }
    .sreach-input.clicked {
        padding: 10px 10px 10px 30px !important ;
        width: 278px !important;
    }
    .sreach-input.clicked::placeholder {
        color: #5e6369ff;
    }

    .sreach-input::placeholder {
        color: transparent;
    }
    .search-icon {
        left: 16px !important;
        height: 50%;
        transform: translate(-50%, -50%) !important;
    }

    .personalRepo-search {
        opacity: 0;
        visibility: hidden;
    }
    .personalRepo-search.clicked {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.1s ease 0.2s;
    }
}

/* set blure for the top bar */
.top-bar[data-theme="dark"] {
    background: var(--secondry-dark-background);
}
.top-bar[data-theme="light"] {
    background: var(--secondry-light-background);
}
.top-bar.scrolled[data-theme="dark"] {
    background: rgba(1, 1, 1, 0.7);
}
.top-bar.scrolled[data-theme="light"] {
    background: rgba(255, 255, 255, 0.7);
}
/* set blure for the top bar */
